name: Print

on: push

jobs:
  print:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run makefile
        run: make print
      - name: Release generated pdf
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: kookboek.pdf kookboek-book.pdf
            